
ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 30px;
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	width: 90%;
}
ul li {
	float: left;
	margin: 0;
	padding: 0;
	height: 29px;
	line-height: 29px;
	border: 1px solid #66CC00;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #ddd;
}
ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	font-family: "Trebuchet MS";
	font-size: 14px;
	padding: 0 20px;
    background-image: url(../../images/bg-special.jpg);
}
ul li a:hover {
	background-image: url(../../images/bg-special.jpg);
	color: yellow;
}

/* Onglets */
.ui-tabs .ui-tabs-nav li.ui-state-active {
	cursor: text;
	color: yellow !important;
    background-image: url(../../images/bg-special.jpg);
	border-bottom: 2px solid yellow;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	position: relative;
	background-image: url(../../images/bg-special.jpg);
    color: yellow !important;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border: 1px solid #666;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 98%;
	/*background: #fff;*/
	margin: 0;
	padding: 10px 10px 0;
	font-family: "Trebuchet MS";
	font-size: 14px;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}